.homebox{
    color: white;
    height: auto;
    background: #1A2980;
    background: -webkit-linear-gradient(to left, #26D0CE, #1A2980); 
    background: linear-gradient(to left, #26D0CE, #1A2980); 
    padding-bottom: 100px;
}
.searchcontain{
    width : 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.searches{
    text-align: left;
    width: 100%;
}
.maintitle{
    font-size: 30px;
    font-weight: 500;
}
.searchbox{
    position: relative;
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
}
.searchbox>input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
}
.searchbtn{
    cursor: pointer;
    height: 40px;
    width: 80px;
    position: absolute;
    right: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #ef6107;
}
.platform{
    height: 600px;
    display: flex;
    background-color: #eeeef2;
}
.platform>div,.network>div{
    width: 65%;
    display: flex;
    margin: auto; 
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.platform>img{
    height: 450px;
}
.plattitle,.networktitle{
    font-size: 28px;
    font-weight: 600;
}
.platformtext>button{
 border: 1px solid #5dadf9;
 color: #5dadf9;
 background-color: #eeeef2;
 padding: 10px;
 font-size: 12px;
 border-radius: 2px;
}
.network{
    height: 600px;
    display: flex; 
}
.network>div{
    width: 72%;
}
.networktext>button{
    border: 1px solid #5dadf9;
    color: #5dadf9;
    background-color:white;
    padding: 10px;
    font-size: 12px;
    border-radius: 2px;  
}